@model TorneoTenis.Models.TorneoDatos
@{
    int cantjres = Model.torneo.cantjdrs - Model.jugadores.Count;
}

<p></p>
<div style="text-align:center">
    <div class="btn-group">
        <button class="btn btn-primary btn-lg" onclick="abrirSeccion('jugadores')">Jugadores</button>
        <button class="btn btn-primary btn-lg" onclick="abrirSeccion('partidos')">Partidos</button>
    </div>
</div>
<div id="jugadores" class="seccion" style="display:block">
    <div class="col-sm-6">
        <h3>Jugadores Agregados - Cantidad restante:@cantjres</h3>
        <ul class="list-group">
            @{
                for (int i = 0; i < Model.jugadores.Count; i++)
                {
                    <li class="list-group-item">Jugador: @Model.jugadores[i].nombre</li>
                }
            }
        </ul>
    </div>
    <div class="col-sm-6">
        <div>
            <form action="/Home/agregarJugador" method="post">
                <h3>Agregar Jugadores</h3>
                <p>Jugador</p>
                <p><input type="text" class="form-control" name="nombre"></p>
                <div>
                    <input type="hidden" name="Id" value="@Model.torneo.Id" />
                </div>
                <p></p>
                <p><button type="submit" class="btn btn-primary btn-lg">Agregar Jugador</button></p>
            </form>
        </div>
    </div>
</div>

<div id="partidos" class="seccion" style="display:none">
    <div class="col-sm-6">
        <h3>Partidos:</h3>
        <ul class="list-group">
            <li class="list-group-item">Nadal vs Federer</li>
            <li class="list-group-item">Del potro vs </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h3>Agregar Partido:</h3>
        <form action="/home/agregarPartido/@Model.torneo.Id" method="post">
            <div>
                <div style="float:left">
                    <p>Jugador 1</p>
                    <select class="form-control" id="selec1" name="jgdr1">
                        <option value="">Seleccionar Jugador</option>
                        @{
                            for (int i = 0; i < Model.jugadores.Count; i++)
                            {
                                <option value="@Model.jugadores[i].nombre">@Model.jugadores[i].nombre</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <p>Puntaje</p>
                    <input type="text" class="form-control" name="ptje1">
                </div>
            </div>
            <div>
                <div style="float:left">
                    <p>Jugador 2</p>
                    <select class="form-control" id="selec2" name="jgdr2">
                        <option value="">Seleccionar Jugador</option>
                        @{
                            for (int i = 0; i < Model.jugadores.Count; i++)
                            {
                                <option value="@Model.jugadores[i].nombre">@Model.jugadores[i].nombre</option>
                            }
                        }
                    </select>
                </div>
                <div>
                    <p>Puntaje</p>
                    <input type="text" class="form-control" name="ptje2">
                </div>
            </div>
            <p>Ganador</p>
            <div>
                <select class="form-control" id="selecganador" name="ganador">
                    <option value="">Seleccionar Ganador</option>
                    @{
                        for (int i = 0; i < Model.jugadores.Count; i++)
                        {
                            <option value="@Model.jugadores[i].nombre">@Model.jugadores[i].nombre</option>
                        }
                    }
                </select>
            </div>
            <p></p><button class="btn btn-primary btn-lg" type="submit">Guardar</button>
        </form>
    </div>
</div>



<script type="text/javascript">
    function abrirSeccion(seccion) {
        var i;
        var x = document.getElementsByClassName("seccion");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(seccion).style.display = "block";
    }

</script>
